{
  "PLAYCANVAS_USE_CWD_AS_TARGET": "1",
  "PLAYCANVAS_API_KEY": "YOUR_PLAYCANVAS_API_KEY",
  "PLAYCANVAS_BRANCH_ID": "YOUR_BRANCH_ID",
  "PLAYCANVAS_PROJECT_ID": 0,
  "PLAYCANVAS_BAD_FILE_REG": "^\\.|~$",
  "PLAYCANVAS_BAD_FOLDER_REG": "^\\.|typings|node_modules",
  "PLAYCANVAS_TARGET_SUBDIR": "build/esm",
  "PLAYCANVAS_CONVERT_TO_POW2": 0
}
